@font-face {
  font-family: "NotoSansKR-Bold-Hestia";
  src: url("../fonts/NotoSansKR-Bold-Hestia.otf") format('otf');
  font-style: 800;
  font-weight: normal;
}

@font-face {
  font-family: "NotoSansKR-Medium-Hestia";
  src: url("../fonts/NotoSansKR-Medium-Hestia.otf") format('otf');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "NotoSansKR-Medium-Hestia";
}