.f_left {
  float: left;
}
.f_right {
  float: right;
}
/* Layout */
#root {
  position: relative;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  color: #4b403d;
}
.btn_wrap {
  margin: 16px;
}
input {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #4b403d;
  margin-bottom: 16px;
  background: transparent;
}
textarea {
  border-color: #e2e8ed;
}
:focus {
  outline: none;
}

/* top_nav */
.top_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 13px 16px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #ffffff;
  z-index: 99;
}
.top_nav > div {
  float: left;
  cursor: pointer;
}
.top_nav > div img {
  width: 100%;
}
.top_nav > div.btn_side_nav {
  margin-top: 2px;
}
.top_nav > div.top_logo {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 80px;
  height: 30px;
  margin-left: -40px;
}
.top_nav > div:last-child {
  float: right;
}
/* side_nav */
.side_nav .ant-drawer-wrapper-body {
  background: #4b403d;
  text-align: center;
  color: #ffffff;
}
.side_nav .info_wrap {
  width: 90px;
  margin: 70px auto 50px;
}
.side_nav .info_wrap p {
  margin-top: 10px;
}
.side_nav .menu {
  font-size: 18px;
}
.side_nav .logout {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 80px;
  margin-left: -40px;
}
/* main_slider */
.main_wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.main_wrap .main_slider {
  width: 100%;
  height: 230px;
  padding-top: 25px;
  box-sizing: border-box;
  background: #4b403d;
}
.main_wrap .main_slider .slider_thumnail {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.main_wrap .main_slider p {
  margin: 20px 0;
  text-align: center;
  color: #ffffff;
}
.main_wrap .main_slider .title:after {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  margin: 10px auto;
  background: #ffffff;
}
.main_wrap .main_slider .graph_wrap {
  position: relative;
  width: 100px;
  margin: 0 auto;
}
.main_wrap .main_slider .graph_wrap::after,
.main_wrap .main_slider .graph_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  width: 5px;
  height: 5px;
  border: 1px #ffffff solid;
  border-radius: 50%;
}
.main_wrap .main_slider .graph_wrap::after {
  left: -7px;
}
.main_wrap .main_slider .graph_wrap::before {
  right: -7px;
}
.main_wrap .main_slider .graph_wrap .graph {
  display: block;
  width: 80%; /*달성률에 따라 변경*/
  border-bottom: 1px #ffffff dashed;
}
/* card_List */
.main_wrap .card_wrap {
  width: calc(100% - 32px);
  height: 100%;
}
.main_wrap .card_wrap .card_list {
  width: 100%;
  height: 190px;
  margin: 16px;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0 rgba(80, 92, 98, 0.13);
  border-radius: 10px;
  background: #ffffff;
}
.main_wrap .card_wrap .card_list .card_header {
  padding-top: 12px;
}
.main_wrap .card_wrap .card_list .card_contents {
  overflow: hidden;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list {
  float: left;
  margin: 0 10px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(1) {
  margin-left: 40px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(3) {
  margin-right: 40px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(4) {
  margin-left: 15px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(7) {
  margin-right: 15px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list .sticker {
  width: 38px;
  height: 38px;
  border: 1px dashed;
  border-radius: 50%;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list .sticker.empty {
  border-style: dashed;
  background: #ffffff;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list .sticker img {
  width: 27px;
  height: 27px;
  margin-top: 5px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list p {
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
  color: #8d8c8c;
}
/* slick - custom */
.slick-dots li {
  margin: 0;
}
.slick-dots {
  position: absolute;
  bottom: 15px;
}
.slick-dots li button:before {
  color: #ffffff;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

/* detail_wrap */
.detail_wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.detail_wrap .detail_title {
  width: 100%;
  height: 100px;
  padding: 30px 20%;
  background: #4b403d;
}
.detail_wrap .detail_title input {
  border: none;
  border-bottom: 1px solid #e2e8ed;
  background: transparent;
  color: #e2e8ed;
  text-align: center;
}
.detail_wrap .calendar {
  margin: 16px;
  padding: 14px 16px;
  background: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(80, 92, 98, 0.13);
  box-sizing: border-box;
}
.detail_wrap .detail_rate_wrap {
  height: 25px;
  margin: 16px;
  padding: 0 14px;
  background: #ffffff;
}
.detail_wrap .memo {
  margin: 16px;
  padding: 14px;
  background: #ffffff;
}
.detail_wrap .memo label {
  display: block;
  margin-bottom: 10px;
}
.detail_wrap .memo textarea {
  width: 100%;
}

/* LoginScreen */
.bg_wrap {
  width: calc(100% - 32px);
  height: 80vh;
  margin: 0 16px;
  margin-top: 5vh;
  padding: 16px;
  background: #ffffff;
}
.bg_wrap h2 {
  margin: 15px 0 30px;
  font-size: 20px;
  text-align: center;
}
