.f_left {
  float: left;
}
.f_right {
  float: right;
}
/* Layout */
#root {
  position: relative;
}
.btn_wrap {
  overflow: hidden;
  /* margin: 16px; */
}
.btn_L {
  width: 48%;
  float: left;
}
.btn_R {
  width: 48%;
  float: right;
}
.btn a {
  background: #4b403d;
  color: #fff;
}
.btn a::before {
  border: 1px solid #4b403d !important;
}
input {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #4b403d;
  margin-bottom: 16px;
  background: transparent;
}
textarea {
  border-color: #e2e8ed;
}
:focus {
  outline: none;
}

/* top_nav */
.top_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 13px 16px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #ffffff;
  z-index: 99;
}
.top_nav > div {
  float: left;
  cursor: pointer;
}
.top_nav > div img {
  width: 100%;
}
.top_nav > div.btn_side_nav {
  margin-top: 2px;
}
.top_nav > div.top_logo {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 80px;
  height: 30px;
  margin-left: -40px;
}
.top_nav > div:last-child {
  float: right;
}
/* side_nav */
.side_nav .ant-drawer-wrapper-body {
  background: #4b403d;
  text-align: center;
  color: #ffffff;
}
.side_nav .info_wrap {
  width: 90px;
  margin: 70px auto 50px;
}
.side_nav .info_wrap p {
  margin-top: 10px;
}
.side_nav .menu {
  font-size: 18px;
}
.side_nav .menu p a {
  color: #ffffff;
}
.side_nav .login_state {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  /* text-align: center; */
}
.side_nav .login_state > span a {
  display: inline;
  color: #ffffff;
}
/* main_slider */
.main_wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}
.main_wrap .main_slider {
  width: 100%;
  height: 230px;
  padding-top: 30px;
  box-sizing: border-box;
  background: #4b403d;
}
.main_wrap .main_slider .slider_thumnail {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.main_wrap .main_slider p {
  margin: 15px 0;
  text-align: center;
  color: #ffffff;
}
.main_wrap .main_slider .graph_wrap {
  position: relative;
  width: 100px;
  margin: 0 auto;
}
.main_wrap .main_slider .graph_wrap::after,
.main_wrap .main_slider .graph_wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  width: 5px;
  height: 5px;
  border: 1px #ffffff solid;
  border-radius: 50%;
}
.main_wrap .main_slider .graph_wrap::after {
  left: -7px;
}
.main_wrap .main_slider .graph_wrap::before {
  right: -7px;
}
.main_wrap .main_slider .graph_wrap .graph {
  display: block;
  width: 80%; /*달성률에 따라 변경*/
  border-bottom: 1px #ffffff dashed;
}
/* common */
.title {
  width: 100%;
  padding: 30px 0;
  background: #4b403d;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
/* card_List */
.main_wrap .card_wrap {
  width: calc(100% - 32px);
  height: 100%;
}
.main_wrap .card_wrap .card_list {
  width: 100%;
  height: 195px;
  margin: 16px 16px 0;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px 0 rgba(80, 92, 98, 0.13);
  border-radius: 10px;
  background: #ffffff;
}
.main_wrap .card_wrap .card_list:last-child {
  margin-bottom: 16px;
}
.main_wrap .card_wrap .card_list .card_header {
  overflow: hidden;
  padding-top: 12px;
}
.main_wrap .card_wrap .card_list .card_contents {
  overflow: hidden;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.sticker_list {
  float: left;
  margin: 0 10px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(1) {
  margin-left: 40px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(3) {
  margin-right: 40px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(4) {
  margin-left: 15px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list:nth-child(7) {
  margin-right: 15px;
}
.sticker_list .sticker {
  width: 38px;
  height: 38px;
  border: 1px dashed;
  border-radius: 50%;
}
.sticker_list .sticker.empty {
  border-style: dashed;
  background: #ffffff;
}
.sticker img {
  width: 27px;
  height: 27px;
  margin-top: 5px;
}
.main_wrap .card_wrap .card_list .card_contents .sticker_list p {
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
  color: #8d8c8c;
}
/* slick - custom */
.slick-dots li {
  margin: 0;
}
.slick-dots {
  position: absolute;
  bottom: 15px;
}
.slick-dots li button:before {
  color: #ffffff;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
  opacity: 1;
}

/* LoginScreen */
.bg_wrap {
  width: calc(100% - 32px);
  height: 83vh;
  margin: 0 16px;
  margin-top: 3vh;
  padding: 16px;
  background: #ffffff;
}
.bg_wrap h2 {
  margin: 15px 0 30px;
  font-size: 20px;
  text-align: center;
}

/* RewardsScreen */
.rewards_wrap {
  width: calc(100% - 32px);
  height: 80px;
  margin: 16px 16px;
  padding: 16px;
  background: #ffffff;
}
.rewards_wrap > div {
  float: left;
}
.rewards_wrap > .thumnail {
  margin: 4px 0;
}
.rewards_wrap > .rewards_info {
  margin: 6px 10px;
}
.rewards_wrap > .rewards_info p {
  margin-bottom: 0;
  font-size: 12px;
}
.rewards_wrap > .rewards_info p:first-child {
  font-size: 14px;
}
.rewards_wrap .rewards_result {
  float: right;
  margin-top: 8px;
}

/* SettingScreen */
.setting_wrap p {
  margin-bottom: 0;
}
.member_wrap {
  padding: 20px 0 36px;
  border-bottom: 1px solid #e2e8ed;
}
.member_wrap .member_thumnail {
  width: 93px;
  margin: 0 auto 10px;
}
.member_wrap p {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.member_wrap p:last-child {
  margin-top: 5px;
  font-size: 12px;
}
.setting_list_wrap .setting_list {
  padding: 16px 10px;
  border-bottom: 1px solid #e2e8ed;
}
.setting_list_wrap .setting_list span:last-child {
  float: right;
}
.setting_wrap .copyright {
  margin: 10px;
  font-size: 10px;
  text-align: center;
}

/* sub_wrap */
.sub_wrap {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

/* CreateScreen & DetailScreen */
.create_wrap {
  width: calc(100% - 32px);
  background: #fff;
  margin: 16px;
  padding: 16px;
}
.create_wrap > div {
  overflow: hidden;
  margin-bottom: 10px;
}
.create_wrap p {
  margin-bottom: 5px;
  font-size: 12px;
  color: #8d8c8c;
}
.create_wrap input {
  border: none;
  border-bottom: 1px solid #4b403d;
  border-radius: 0;
}
.create_wrap .sticker_list {
  margin: 0 3px;
  padding: 3px;
  border-radius: 10px;
}
.create_wrap .sticker_list.selected {
  background: #ddd;
}
.create_wrap .sticker_list .sticker {
  display: block;
  position: relative;
  border: 1px solid;
}
.create_wrap .sticker_list:nth-child(1) .sticker {
  background: #ef9a9a;
  border-color: #ef9a9a;
}
.create_wrap .sticker_list:nth-child(2) .sticker {
  background: #e57373;
  border-color: #e57373;
}
.create_wrap .sticker_list:nth-child(3) .sticker {
  background: #fbc02d;
  border-color: #fbc02d;
}
.create_wrap .sticker_list:nth-child(4) .sticker {
  background: #9ccc65;
  border-color: #9ccc65;
}
.create_wrap .sticker_list:nth-child(5) .sticker {
  background: #1a237e;
  border-color: #1a237e;
}
.create_wrap .sticker_list:nth-child(6) .sticker {
  background: #9575cd;
  border-color: #9575cd;
}
.create_wrap .sticker_list img {
  position: absolute;
  top: 0px;
  left: 4px;
}
.create_wrap .sticker_list input {
  display: none;
}
.create_wrap .detail_rate_wrap {
  height: 25px;
  padding: 5px;
  background: #ffffff;
}
